/* 
    Created on : Feb 16, 2016, 8:22:58 AM
    Author     : strider64
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.row {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1; }

.row:after {
  clear: both; }

.row:before,
.row:after {
  content: " ";
  display: table; }

[class^="span"] {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="span"]:first-child {
  margin-left: 0; }

.span1 {
  width: 8.333333333333332%; }

.span2 {
  width: 16.666666666666664%; }

.span3 {
  width: 25%; }

.span4 {
  width: 33.33333333333333%; }

.span5 {
  width: 41.66666666666667%; }

.span6 {
  width: 50%; }

.span7 {
  width: 58.333333333333336%; }

.span8 {
  width: 66.66666666666666%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83.33333333333334%; }

.span11 {
  width: 91.66666666666666%; }

.span12 {
  width: 100%; }

[class^="m-span"] {
  padding: 10px 0;
  margin-left: 3.125%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="m-span"]:first-child {
  margin-left: 0; }

.m-span1 {
  width: 5.46875%; }

.m-span2 {
  width: 14.0625%; }

.m-span3 {
  width: 22.65625%; }

.m-span4 {
  width: 31.25%; }

.m-span5 {
  width: 39.84375%; }

.m-span6 {
  width: 48.4375%; }

.m-span7 {
  width: 57.03125%; }

.m-span8 {
  width: 65.625%; }

.m-span9 {
  width: 74.21875%; }

.m-span10 {
  width: 82.8125%; }

.m-span11 {
  width: 91.40625%; }

.m-span12 {
  width: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* GENERAL PAGE STYLING */
body {
  font-size: 100%;
  background-color: #A0D7E2; }

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background-color: rgba(0, 0, 0, 0.6); }
  .shadow .startBox {
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    margin-top: -200px;
    margin-left: -200px; }
  .shadow .startBtn {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    max-width: 250px;
    height: 90px;
    background-color: #d11010;
    font-family: Arial, Helvetica, sans-serif;
    color: #FBFCF7;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    line-height: 90px;
    margin-top: -45px;
    margin-left: -125px; }
    .shadow .startBtn:hover {
      background-color: #1c8443; }

/* LOGO STYLING */
h2.logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 30px;
  width: 100%;
  max-width: 79px;
  height: 100px;
  background-image: url(../images/img-logo-79x100.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0; }
  h2.logo a {
    display: inline-block;
    z-index: 100;
    width: 100%;
    max-width: 100px;
    height: 100px;
    padding: 0;
    margin: 0; }
  h2.logo span {
    display: none; }

header.headingStyle {
  position: relative;
  height: 100px;
  background-color: #000000; }
  header.headingStyle h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 3.2rem;
    line-height: 200px;
    color: #FFFFFF;
    text-align: center; }
  header.headingStyle .logout {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #FFFFFF;
    padding: 20px; }
    header.headingStyle .logout p.logoutTxt {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      color: #000000; }
    header.headingStyle .logout span {
      padding-left: 20px; }
      header.headingStyle .logout span a.logoutLink {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        color: #174C4F;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none; }
        header.headingStyle .logout span a.logoutLink:hover {
          color: magenta; }
  header.headingStyle a.loginBtn {
    position: absolute;
    top: 0;
    right: 0; }
    header.headingStyle a.loginBtn img {
      width: 100%;
      max-width: 75%;
      height: 75%; }
  header.headingStyle a.iconBtn {
    position: absolute;
    top: 0;
    right: 300px; }
    header.headingStyle a.iconBtn img {
      width: 100%;
      max-width: 75%;
      height: 75%; }
  header.headingStyle a.triviaBtn {
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 100%;
    max-width: 120px;
    height: 30px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: #000000;
    text-decoration: none; }
    header.headingStyle a.triviaBtn:hover {
      background-color: #E8CD5D; }

#login {
  background-color: #86C5DA; }

div.login {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: #3F4E70;
  padding: 20px 15px;
  margin: 20px auto; }
  div.login fieldset {
    border: 2px solid #E8CD5D;
    padding: 10px 20px; }
  div.login legend {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.4rem;
    color: #E8CD5D;
    text-transform: capitalize;
    padding: 0 5px; }
  div.login label {
    clear: right;
    display: block;
    width: 100%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 30px;
    text-transform: capitalize;
    color: #E8CD5D; }
  div.login input {
    clear: right;
    display: block;
    width: 100%;
    height: 30px;
    background-color: #DEDDD8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #000000;
    padding: 0 5px;
    margin-bottom: 10px; }
  div.login input[type=submit] {
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    max-width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: #DEDDD8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: #555555;
    margin: 20px auto; }
    div.login input[type=submit]:hover {
      background-color: #E8CD5D;
      color: #3F4E70; }
  div.login a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    color: #E8CD5D;
    font-weight: bolder;
    text-decoration: none; }
    div.login a:hover {
      color: #FC9E00; }

#register {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #2e2e2e;
  padding: 20px 30px; }
  #register fieldset {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    padding: 25px; }
    #register fieldset legend {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.8rem;
      color: #FFFFFF;
      padding: 0 5px; }
    #register fieldset label {
      float: left;
      display: block;
      width: 100%;
      max-width: 260px;
      height: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 30px;
      text-align: right;
      text-transform: capitalize;
      color: #000000;
      background-color: #FFFFFF;
      padding-right: 10px; }
    #register fieldset input {
      clear: right;
      display: block;
      outline: none;
      border: none;
      width: 100%;
      max-width: 260px;
      height: 30px;
      background-color: #E8CD5D;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      padding: 0 5px;
      margin-bottom: 10px; }
    #register fieldset input[type=submit] {
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: none;
      outline: none;
      float: right;
      display: block;
      width: 100%;
      max-width: 100px;
      height: 30px;
      cursor: pointer;
      background-color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0rem;
      font-weight: bold;
      text-transform: capitalize;
      color: #000000;
      margin: 15px 50px; }
      #register fieldset input[type=submit]:hover {
        background-color: #E8CD5D; }

div.maintenance {
  background-color: #68D693;
  padding: 30px; }
  div.maintenance nav.maintenanceStyle {
    height: 400px;
    background-color: #893660;
    padding: 20px; }
    div.maintenance nav.maintenanceStyle ul li:first-child {
      border-top: none; }
    div.maintenance nav.maintenanceStyle ul li {
      border-top: 2px solid #FFFFFF; }
    div.maintenance nav.maintenanceStyle ul li a {
      display: block;
      width: 100%;
      max-width: 360px;
      height: 50px;
      background-color: #000000;
      font-family: Arial, Helvetica, sans-serif;
      color: #FFFFFF;
      font-size: 1.4rem;
      line-height: 50px;
      text-transform: capitalize;
      text-decoration: none;
      padding-left: 10px; }

div.mainContent {
  background-color: #f2f5e4;
  padding: 20px; }
  div.mainContent .gameDescription {
    background-color: #FFFFFF;
    height: 800px;
    padding: 20px; }
    div.mainContent .gameDescription h6.demoHeading {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #000000; }
    div.mainContent .gameDescription p.demoParagraph {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 1.5;
      color: #000000; }
      div.mainContent .gameDescription p.demoParagraph a {
        font-size: 1.4rem;
        text-decoration: none;
        font-weight: bold;
        color: #3F4E70; }
        div.mainContent .gameDescription p.demoParagraph a:hover {
          color: #EF7261; }
  div.mainContent .gameBackground {
    background-color: #86C5DA;
    height: 800px;
    padding: 20px; }
    div.mainContent .gameBackground .mainGame {
      -moz-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      display: block;
      width: 100%;
      max-width: 500px;
      height: 640px;
      background-color: rgba(252, 158, 0, 0.6);
      padding: 20px;
      margin: 0 auto; }
      div.mainContent .gameBackground .mainGame div.quizHeading h1.quizTitle {
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        background-color: #965e00;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.8rem;
        line-height: 1.2;
        color: #E8CD5D;
        padding: 5px 0 0;
        text-align: center; }
        div.mainContent .gameBackground .mainGame div.quizHeading h1.quizTitle span.todaysDate {
          display: block;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
          line-height: 1.2;
          color: #E8CD5D;
          font-style: italic;
          padding-bottom: 5px; }
      div.mainContent .gameBackground .mainGame .questStyle {
        -moz-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
        display: block;
        width: 100%;
        max-width: 100%;
        height: 200px;
        background-color: #FBFCF7;
        padding: 15px;
        margin-top: 10px; }
        div.mainContent .gameBackground .mainGame .questStyle h3 {
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          font-size: 1.2rem;
          line-height: 1.5;
          color: #000000; }
      div.mainContent .gameBackground .mainGame [class^="answer"] {
        display: block;
        width: 100%;
        height: 50px;
        background-color: #965e00;
        border-top: 2px solid #2e2e2e;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        line-height: 40px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px 10px; }
      div.mainContent .gameBackground .mainGame .scoreboard {
        clear: both;
        display: block;
        width: auto;
        height: 50px; }
        div.mainContent .gameBackground .mainGame .scoreboard .stopwatch, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox {
          float: left;
          display: block;
          width: 50%;
          height: 50px;
          border: 2px solid #2e2e2e;
          background-color: #FBFCF7; }
          div.mainContent .gameBackground .mainGame .scoreboard .stopwatch p.countdownClock, div.mainContent .gameBackground .mainGame .scoreboard .stopwatch p.score, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox p.countdownClock, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox p.score {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            line-height: 50px;
            color: #965e00;
            text-align: center; }
      div.mainContent .gameBackground .mainGame .nextBtnBox {
        display: block;
        width: 100%;
        height: 50px; }
        div.mainContent .gameBackground .mainGame .nextBtnBox .nextBtn {
          cursor: pointer;
          outline: none;
          border: none;
          width: 100%;
          height: 50px;
          background-color: #965e00;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
          font-weight: bold;
          color: #FFFFFF; }
          div.mainContent .gameBackground .mainGame .nextBtnBox .nextBtn:hover {
            background-color: #006300; }

/* SMARTPHONE MEDIA QUERY STYLING */
@media only screen and (max-width: 480px) {
  /* 480px = 30em */
  .span6, .span7 {
    width: 100%; }

  .shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0.6); }
    .shadow .startBox {
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      position: relative;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 200px;
      height: 200px;
      background-color: #FFFFFF;
      margin-top: -100px;
      margin-left: -100px; }
    .shadow .startBtn {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 126px;
      height: 46px;
      background-color: #d11010;
      font-family: Arial, Helvetica, sans-serif;
      color: #FBFCF7;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
      line-height: 46px;
      margin-top: -23px;
      margin-left: -63px; }
      .shadow .startBtn:hover {
        background-color: #1c8443; }

  header.headingStyle {
    height: 70px; }
    header.headingStyle h1 {
      font-size: 1.2rem;
      line-height: 70px; }
    header.headingStyle a.loginBtn {
      position: absolute;
      top: 5px;
      right: 0; }
      header.headingStyle a.loginBtn img {
        width: 50px;
        height: 50px; }

  div.login {
    margin: 0; }

  header.headingStyle .logout {
    height: 60%; }

  header.headingStyle .logout p.logoutTxt {
    font-size: 1.0rem;
    line-height: 40%; }

  header.headingStyle .logout span {
    padding-left: 10px; }

  #register {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: absolute;
    top: 70px;
    background-color: #2e2e2e; }
    #register fieldset {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      padding: 15px 10px; }
      #register fieldset legend {
        font-size: 1.2rem; }
      #register fieldset label {
        float: left;
        display: block;
        width: 100%;
        max-width: 35%;
        height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        line-height: 25px;
        text-align: right;
        text-transform: capitalize;
        color: #000000;
        background-color: #FFFFFF;
        padding-right: 10px; }
      #register fieldset input {
        clear: right;
        display: block;
        outline: none;
        border: none;
        width: 100%;
        max-width: 65%;
        height: 25px;
        background-color: #E8CD5D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        padding: 0 5px;
        margin-bottom: 10px; }
      #register fieldset input[type=submit] {
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: none;
        outline: none;
        float: right;
        display: block;
        width: 100%;
        max-width: 100px;
        height: 30px;
        cursor: pointer;
        background-color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        font-weight: bold;
        text-transform: capitalize;
        color: #000000;
        margin: 15px 0; }
        #register fieldset input[type=submit]:hover {
          background-color: #E8CD5D; }

  /* LOGO STYLING */
  h2.logo {
    position: absolute;
    top: 0;
    background-image: url(../images/img-logo.png);
    width: 100%;
    max-width: 55px;
    height: 70px; }

  h2.logo a {
    width: 100%;
    max-width: 55px;
    height: 70px; }

  div.mainContent {
    padding: 0; }
    div.mainContent .gameDescription {
      height: auto; }
    div.mainContent .gameBackground {
      height: auto;
      padding: 0; }
      div.mainContent .gameBackground .mainGame {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; } }
/* TABLET MEDIA QUERY STYLING */
@media only screen and (min-width: 481px) and (max-width: 1020px) {
  /* 481px = 30.063em & 768px = 48em */
  .span6, .span7 {
    width: 100%; }

  .shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0.6); }
    .shadow .startBox {
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      position: relative;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 200px;
      height: 200px;
      background-color: #FFFFFF;
      margin-top: -100px;
      margin-left: -100px; }
    .shadow .startBtn {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 126px;
      height: 46px;
      background-color: #d11010;
      font-family: Arial, Helvetica, sans-serif;
      color: #FBFCF7;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
      line-height: 46px;
      margin-top: -23px;
      margin-left: -63px; }
      .shadow .startBtn:hover {
        background-color: #1c8443; }

  header.headingStyle {
    height: 125px; }
    header.headingStyle h1 {
      font-size: 1.4rem;
      line-height: 125px; }
    header.headingStyle a.loginBtn {
      position: absolute;
      top: 10px;
      right: 10px; }
      header.headingStyle a.loginBtn img {
        width: 100%;
        max-width: 75%;
        height: 75%; }

  #login {
    background-color: #86C5DA; }

  div.login {
    margin: 0 auto; }

  #register {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: absolute;
    top: 125px;
    background-color: #2e2e2e; }
    #register fieldset {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      padding: 15px 10px; }
      #register fieldset legend {
        font-size: 1.2rem; }
      #register fieldset label {
        float: left;
        display: block;
        width: 100%;
        max-width: 35%;
        height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        line-height: 25px;
        text-align: right;
        text-transform: capitalize;
        color: #000000;
        background-color: #FFFFFF;
        padding-right: 10px; }
      #register fieldset input {
        clear: right;
        display: block;
        outline: none;
        border: none;
        width: 100%;
        max-width: 65%;
        height: 25px;
        background-color: #E8CD5D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        padding: 0 5px;
        margin-bottom: 10px; }
      #register fieldset input[type=submit] {
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: none;
        outline: none;
        float: right;
        display: block;
        width: 100%;
        max-width: 100px;
        height: 30px;
        cursor: pointer;
        background-color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        font-weight: bold;
        text-transform: capitalize;
        color: #000000;
        margin: 15px 0; }
        #register fieldset input[type=submit]:hover {
          background-color: #E8CD5D; }

  /* LOGO STYLING */
  h2.logo {
    position: absolute;
    top: 0;
    background-image: url(../images/img-logo-02.png);
    width: 100%;
    max-width: 99px;
    height: 125px; }

  h2.logo a {
    width: 100%;
    max-width: 99px;
    height: 125px; }

  div.mainContent {
    padding: 0; }
    div.mainContent .gameDescription {
      height: auto; }
    div.mainContent .gameBackground {
      height: auto;
      padding: 0; }
      div.mainContent .gameBackground .mainGame {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; } }
/* PC MEDIA QUERY STYLING */
@media only screen and (min-width: 1021px) {
  /* 481px = 30.063em & 768px = 48em */ }

/*# sourceMappingURL=stylesheet.css.map */
