/* 
    Created on : Feb 16, 2016, 8:22:58 AM
    Author     : strider64
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.row {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1; }

.row:after {
  clear: both; }

.row:before,
.row:after {
  content: " ";
  display: table; }

[class^="span"] {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="span"]:first-child {
  margin-left: 0; }

.span1 {
  width: 8.333333333333332%; }

.span2 {
  width: 16.666666666666664%; }

.span3 {
  width: 25%; }

.span4 {
  width: 33.33333333333333%; }

.span5 {
  width: 41.66666666666667%; }

.span6 {
  width: 50%; }

.span7 {
  width: 58.333333333333336%; }

.span8 {
  width: 66.66666666666666%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83.33333333333334%; }

.span11 {
  width: 91.66666666666666%; }

.span12 {
  width: 100%; }

[class^="m-span"] {
  padding: 10px 0;
  margin-left: 3.125%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="m-span"]:first-child {
  margin-left: 0; }

.m-span1 {
  width: 5.46875%; }

.m-span2 {
  width: 14.0625%; }

.m-span3 {
  width: 22.65625%; }

.m-span4 {
  width: 31.25%; }

.m-span5 {
  width: 39.84375%; }

.m-span6 {
  width: 48.4375%; }

.m-span7 {
  width: 57.03125%; }

.m-span8 {
  width: 65.625%; }

.m-span9 {
  width: 74.21875%; }

.m-span10 {
  width: 82.8125%; }

.m-span11 {
  width: 91.40625%; }

.m-span12 {
  width: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* GENERAL PAGE STYLING */
body {
  font-size: 100%;
  background-color: #A0D7E2; }

/* SMARTPHONE MEDIA QUERY STYLING */
@media only screen and (max-width: 480px) {
  /* 480px = 30em */
  header.headingStyle {
    display: none; }

  .span6 {
    width: 100%; }

  .login {
    display: none; }

    /*******************************************
HIGH SCORES TABLE CSS STYLING
********************************************/
  .highscoresShadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: rgba(51, 51, 51, 0.8); }
    .highscoresShadow #tableBox {
      position: relative;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 400px;
      height: 440px;
      border: 5px solid #039;
      background-color: #FFFFFF;
      margin-top: -220px;
      margin-left: -200px; }

  #highscoresTable {
    position: absolute;
    top: 10px;
    left: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 1.0rem;
    width: 360px;
    text-align: left;
    border-collapse: collapse;
    padding: 0; }

  #highscoresTable th {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 4px;
    background-color: #b9c9fe;
    border-top: 2px solid #aabcfe;
    border-bottom: 1px solid #FFFFFF;
    color: #039; }

  #highscoresTable th.highscoresHeading {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #039;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center; }

  #highscoresTable td {
    padding: 4px;
    background-color: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent; }

  #highscoresTable tr:hover td {
    background-color: #d0dafd;
    color: #339; }

  a.exitBtn {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    max-width: 200px;
    height: 40px;
    background-color: #b9c9fe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #039;
    margin-top: 170px;
    margin-left: -100px; }
    a.exitBtn:hover {
      background-color: #039;
      color: #b9c9fe; }

  div.mainContent {
    background-color: #FFFFFF; }
    div.mainContent .gameBackground {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      min-height: 600px;
      background-color: #E8EDFF;
      padding: 5px; }
      div.mainContent .gameBackground .shadow {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 600px;
        z-index: 20000;
        background-color: rgba(51, 51, 51, 0.8); }
        div.mainContent .gameBackground .shadow .startBox {
          position: relative;
          top: 50%;
          left: 50%;
          display: block;
          width: 100%;
          max-width: 360px;
          height: 400px;
          border: 10px solid #7894fd;
          background-color: #FFFFFF;
          margin-top: -200px;
          margin-left: -180px; }
          div.mainContent .gameBackground .shadow .startBox .startHeading {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: center;
            color: #1345fc;
            margin-top: 20px; }
          div.mainContent .gameBackground .shadow .startBox .startParagraph {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.0rem;
            line-height: 1.5;
            color: #1345fc;
            text-align: center; }
          div.mainContent .gameBackground .shadow .startBox form#highscores {
            display: none;
            width: 100%;
            max-width: 360px;
            height: 60px;
            background-color: #AABCFE;
            text-align: center;
            line-height: 60px;
            margin: 190px auto 0; }
            div.mainContent .gameBackground .shadow .startBox form#highscores label {
              font-family: Arial, Helvetica, sans-serif;
              color: #1345fc;
              font-size: 1.0rem;
              padding: 0 5px; }
            div.mainContent .gameBackground .shadow .startBox form#highscores input {
              border: none;
              outline: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.0rem;
              width: 100%;
              max-width: 120px;
              height: 25px;
              padding: 0 5px; }
            div.mainContent .gameBackground .shadow .startBox form#highscores input[type=submit] {
              cursor: pointer;
              text-transform: uppercase;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.0rem;
              color: #FFFFFF;
              width: 100%;
              max-width: 80px;
              height: 30px;
              background-color: #7894fd;
              margin: 0 10px; }
              div.mainContent .gameBackground .shadow .startBox form#highscores input[type=submit]:hover {
                background-color: #456dfd; }
          div.mainContent .gameBackground .shadow .startBox .startButton {
            display: none;
            width: 100%;
            max-width: 100px;
            height: 30px;
            cursor: pointer;
            background-color: #7894fd;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            line-height: 30px;
            color: #FFFFFF;
            text-align: center;
            text-decoration: none;
            margin: 160px auto 0; }
            div.mainContent .gameBackground .shadow .startBox .startButton:hover {
              background-color: #456dfd; }
          div.mainContent .gameBackground .shadow .startBox a.instructions {
            display: block;
            width: 100%;
            max-width: 120px;
            height: 25px;
            background-color: #FFE184;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.0rem;
            line-height: 25px;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            color: #2255fc;
            margin: 20px auto 0; }
            div.mainContent .gameBackground .shadow .startBox a.instructions:hover {
              color: #000000;
              background-color: #ffc81e; }
      div.mainContent .gameBackground div.quizHeading h1.quizTitle {
        background-color: #547bfd;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.8rem;
        line-height: 1.2;
        color: #FFFFFF;
        padding: 5px 0 0;
        text-align: center; }
        div.mainContent .gameBackground div.quizHeading h1.quizTitle span.todaysDate {
          display: block;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
          line-height: 1.2;
          color: #FFFFFF;
          font-style: italic;
          padding-bottom: 5px; }
      div.mainContent .gameBackground .questStyle {
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 120px;
        background-color: #D0DAFD;
        padding: 5px; }
        div.mainContent .gameBackground .questStyle h3 {
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          font-size: 1.0rem;
          line-height: 1.2;
          color: #000000; }
      div.mainContent .gameBackground [class^="answer"] {
        display: block;
        width: 100%;
        height: 70px;
        vertical-align: middle;
        background-color: #AABCFE;
        border-top: 2px solid #B9C9FE;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        line-height: 30px;
        color: #000000;
        text-decoration: none;
        padding: 0 10px; }
      div.mainContent .gameBackground .scoreboard {
        clear: both;
        display: block;
        width: auto;
        height: 25px; }
        div.mainContent .gameBackground .scoreboard .stopwatch, div.mainContent .gameBackground .scoreboard .scoreBox {
          float: left;
          display: block;
          width: 50%;
          height: 25px;
          background-color: #FFFFFF; }
          div.mainContent .gameBackground .scoreboard .stopwatch p.countdownClock, div.mainContent .gameBackground .scoreboard .stopwatch p.score, div.mainContent .gameBackground .scoreboard .scoreBox p.countdownClock, div.mainContent .gameBackground .scoreboard .scoreBox p.score {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.0rem;
            line-height: 25px;
            color: #456dfd;
            text-align: center; }
      div.mainContent .gameBackground .nextBtnBox {
        display: block;
        width: 100%;
        height: 50px; }
        div.mainContent .gameBackground .nextBtnBox .nextBtn {
          cursor: pointer;
          outline: none;
          border: none;
          width: 100%;
          height: 50px;
          background-color: #547bfd;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
          font-weight: bold;
          color: #FFFFFF; }
          div.mainContent .gameBackground .nextBtnBox .nextBtn:hover {
            background-color: #006300; } }
/* TABLET MEDIA QUERY STYLING */
@media only screen and (min-width: 481px) and (max-width: 1020px) {
  /* 481px = 30.063em & 768px = 48em */ }
/* PC MEDIA QUERY STYLING */
@media only screen and (min-width: 1021px) {
  /* LOGO STYLING */
  h2.logo {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 60px;
    width: 100%;
    max-width: 100px;
    height: 100px;
    background-image: url(../images/img-logo-100x100.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0; }
    h2.logo a {
      display: inline-block;
      z-index: 100;
      width: 100%;
      max-width: 100px;
      height: 100px;
      padding: 0;
      margin: 0; }
    h2.logo span {
      display: none; }

  header.headingStyle {
    position: relative;
    height: 200px;
    background-image: url(../images/bg-header-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    margin-top: 30px; }
    header.headingStyle h1 {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 3.2rem;
      line-height: 200px;
      color: #FFFFFF;
      text-align: center; }
    header.headingStyle .logout {
      position: absolute;
      right: 10px;
      top: 0px;
      padding: 10px; }
      header.headingStyle .logout p.logoutTxt {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        color: #FFFFFF; }
      header.headingStyle .logout span {
        padding-left: 10px; }
        header.headingStyle .logout span a.logoutLink {
          display: inline;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.0rem;
          color: #FFFFFF;
          text-transform: capitalize;
          text-decoration: none; }
          header.headingStyle .logout span a.logoutLink:hover {
            color: magenta; }
    header.headingStyle a.loginBtn {
      position: absolute;
      top: 10px;
      right: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      color: #FFFFFF;
      text-decoration: none; }
      header.headingStyle a.loginBtn:hover {
        color: #FFE184; }
    header.headingStyle a.iconBtn {
      position: absolute;
      top: 0;
      right: 300px; }
      header.headingStyle a.iconBtn img {
        width: 100%;
        max-width: 75%;
        height: 75%; }
    header.headingStyle a.triviaBtn {
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      display: block;
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 100%;
      max-width: 120px;
      height: 30px;
      background-color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0rem;
      font-weight: bold;
      text-align: center;
      line-height: 30px;
      color: #000000;
      text-decoration: none; }
      header.headingStyle a.triviaBtn:hover {
        background-color: #E8CD5D; }

  div.login {
    display: none;
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: #3F4E70;
    padding: 20px 15px;
    margin: 20px auto; }
    div.login fieldset {
      border: 2px solid #E8CD5D;
      padding: 10px 20px; }
    div.login legend {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.4rem;
      color: #E8CD5D;
      text-transform: capitalize;
      padding: 0 5px; }
    div.login label {
      clear: right;
      display: block;
      width: 100%;
      height: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 30px;
      text-transform: capitalize;
      color: #E8CD5D; }
    div.login input {
      clear: right;
      display: block;
      width: 100%;
      height: 30px;
      background-color: #DEDDD8;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      text-transform: capitalize;
      color: #000000;
      padding: 0 5px;
      margin-bottom: 10px; }
    div.login input[type=submit] {
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: none;
      outline: none;
      display: block;
      width: 100%;
      max-width: 100px;
      height: 30px;
      cursor: pointer;
      background-color: #DEDDD8;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      font-weight: bolder;
      text-transform: capitalize;
      color: #555555;
      margin: 20px auto; }
      div.login input[type=submit]:hover {
        background-color: #E8CD5D;
        color: #3F4E70; }
    div.login a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0rem;
      color: #E8CD5D;
      font-weight: bolder;
      text-decoration: none; }
      div.login a:hover {
        color: #FC9E00; }

  /*******************************************
  INSTRUCTIONS CSS STYLING
  ********************************************/
  .help {
    background-color: #F5E9BE; }
    .help .helpStyle {
      background-color: #FBFCF7;
      padding: 30px; }
      .help .helpStyle h1 {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.8rem;
        line-height: 1.5; }
      .help .helpStyle p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        line-height: 1.5; }
      .help .helpStyle a {
        text-decoration: none;
        color: #299CA8; }
        .help .helpStyle a:hover {
          color: #395870; }

  /*******************************************
  HIGH SCORES TABLE CSS STYLING
  ********************************************/
  .highscoresShadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: rgba(51, 51, 51, 0.8); }
    .highscoresShadow #tableBox {
      position: relative;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 600px;
      height: 600px;
      border: 10px solid #000000;
      background-color: #FFFFFF;
      margin-top: -300px;
      margin-left: -300px; }

  #highscoresTable {
    position: absolute;
    top: 20px;
    left: 60px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    padding: 0; }

  #highscoresTable th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background-color: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #FFFFFF;
    color: #039; }

  #highscoresTable th.highscoresHeading {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #039;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center; }

  #highscoresTable td {
    padding: 8px;
    background-color: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent; }

  #highscoresTable tr:hover td {
    background-color: #d0dafd;
    color: #339; }

  a.exitBtn {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    max-width: 200px;
    height: 40px;
    background-color: #b9c9fe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #039;
    margin-top: 160px;
    margin-left: -100px; }
    a.exitBtn:hover {
      background-color: #039;
      color: #b9c9fe; }

  /*******************************************
  REGISTRATION CSS STYLING
  ********************************************/
  #register {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #2e2e2e;
    padding: 20px 30px; }
    #register fieldset {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: 2px solid #FFFFFF;
      padding: 25px; }
      #register fieldset legend {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8rem;
        color: #FFFFFF;
        padding: 0 5px; }
      #register fieldset label {
        float: left;
        display: block;
        width: 100%;
        max-width: 260px;
        height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        line-height: 30px;
        text-align: right;
        text-transform: capitalize;
        color: #000000;
        background-color: #FFFFFF;
        padding-right: 10px; }
      #register fieldset input {
        clear: right;
        display: block;
        outline: none;
        border: none;
        width: 100%;
        max-width: 260px;
        height: 30px;
        background-color: #E8CD5D;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        padding: 0 5px;
        margin-bottom: 10px; }
      #register fieldset input[type=submit] {
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: none;
        outline: none;
        float: right;
        display: block;
        width: 100%;
        max-width: 100px;
        height: 30px;
        cursor: pointer;
        background-color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        font-weight: bold;
        text-transform: capitalize;
        color: #000000;
        margin: 15px 50px; }
        #register fieldset input[type=submit]:hover {
          background-color: #E8CD5D; }

  div.maintenance {
    background-color: #68D693;
    padding: 30px; }
    div.maintenance nav.maintenanceStyle {
      height: 400px;
      background-color: #893660;
      padding: 20px; }
      div.maintenance nav.maintenanceStyle ul li:first-child {
        border-top: none; }
      div.maintenance nav.maintenanceStyle ul li {
        border-top: 2px solid #FFFFFF; }
      div.maintenance nav.maintenanceStyle ul li a {
        display: block;
        width: 100%;
        max-width: 360px;
        height: 50px;
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        font-size: 1.4rem;
        line-height: 50px;
        text-transform: capitalize;
        text-decoration: none;
        padding-left: 10px; }

  /*******************************************
  TRIVIA GAME CSS STYLING
  ********************************************/
  div.mainContent {
    background-color: #f2f5e4;
    padding: 20px; }
    div.mainContent .gameDescription {
      background-color: #FFFFFF;
      height: 800px;
      padding: 20px; }
      div.mainContent .gameDescription h6.demoHeading {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #000000; }
      div.mainContent .gameDescription p.demoParagraph {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #000000; }
        div.mainContent .gameDescription p.demoParagraph a {
          font-size: 1.4rem;
          text-decoration: none;
          font-weight: bold;
          color: #3F4E70; }
          div.mainContent .gameDescription p.demoParagraph a:hover {
            color: #EF7261; }
    div.mainContent .gameBackground {
      position: relative;
      background-color: #E8EDFF;
      height: 800px;
      padding: 20px; }
      div.mainContent .gameBackground .mainGame {
        -moz-box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.5);
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        position: relative;
        display: block;
        width: 100%;
        max-width: 500px;
        height: 700px;
        background-color: #B9C9FE;
        padding: 20px;
        margin: 0 auto; }
        div.mainContent .gameBackground .mainGame .shadow {
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          max-width: 500px;
          height: 700px;
          z-index: 20000;
          background-color: rgba(51, 51, 51, 0.8); }
          div.mainContent .gameBackground .mainGame .shadow .startBox {
            -moz-border-radius: 40px;
            -webkit-border-radius: 40px;
            border-radius: 40px;
            position: relative;
            top: 50%;
            left: 50%;
            display: block;
            width: 100%;
            max-width: 400px;
            height: 400px;
            border: 10px solid #7894fd;
            background-color: #FFFFFF;
            margin-top: -200px;
            margin-left: -200px; }
            div.mainContent .gameBackground .mainGame .shadow .startBox .startHeading {
              font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
              font-size: 1.4rem;
              line-height: 1.5;
              text-align: center;
              color: #1345fc;
              margin-top: 50px; }
            div.mainContent .gameBackground .mainGame .shadow .startBox .startParagraph {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.2rem;
              line-height: 1.5;
              color: #1345fc;
              text-align: center; }
            div.mainContent .gameBackground .mainGame .shadow .startBox form#highscores {
              -moz-border-radius: 8px;
              -webkit-border-radius: 8px;
              border-radius: 8px;
              display: none;
              width: 100%;
              max-width: 360px;
              height: 60px;
              background-color: #AABCFE;
              text-align: center;
              line-height: 60px;
              margin: 145px auto 0; }
              div.mainContent .gameBackground .mainGame .shadow .startBox form#highscores label {
                font-family: Arial, Helvetica, sans-serif;
                color: #1345fc;
                font-size: 1.2rem;
                padding: 0 5px; }
              div.mainContent .gameBackground .mainGame .shadow .startBox form#highscores input {
                border: none;
                outline: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.0rem;
                width: 100%;
                max-width: 120px;
                height: 25px;
                padding: 0 5px; }
              div.mainContent .gameBackground .mainGame .shadow .startBox form#highscores input[type=submit] {
                cursor: pointer;
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.0rem;
                color: #FFFFFF;
                width: 100%;
                max-width: 80px;
                height: 30px;
                background-color: #7894fd;
                margin: 0 10px; }
                div.mainContent .gameBackground .mainGame .shadow .startBox form#highscores input[type=submit]:hover {
                  background-color: #456dfd; }
            div.mainContent .gameBackground .mainGame .shadow .startBox .startButton {
              display: none;
              width: 100%;
              max-width: 100px;
              height: 30px;
              cursor: pointer;
              background-color: #7894fd;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.2rem;
              line-height: 30px;
              color: #FFFFFF;
              text-align: center;
              text-decoration: none;
              margin: 145px auto 0; }
              div.mainContent .gameBackground .mainGame .shadow .startBox .startButton:hover {
                background-color: #456dfd; }
            div.mainContent .gameBackground .mainGame .shadow .startBox a.instructions {
              position: absolute;
              bottom: 10px;
              left: 142px;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.0rem;
              text-align: center;
              font-weight: bold;
              text-decoration: none;
              color: #2255fc;
              margin: 0 auto; }
              div.mainContent .gameBackground .mainGame .shadow .startBox a.instructions:hover {
                color: #0332cf; }
        div.mainContent .gameBackground .mainGame div.quizHeading h1.quizTitle {
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          -moz-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
          -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
          box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
          -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
          -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
          background-color: #547bfd;
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          font-size: 1.8rem;
          line-height: 1.2;
          color: #FFFFFF;
          padding: 5px 0 0;
          text-align: center; }
          div.mainContent .gameBackground .mainGame div.quizHeading h1.quizTitle span.todaysDate {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            line-height: 1.2;
            color: #FFFFFF;
            font-style: italic;
            padding-bottom: 5px; }
        div.mainContent .gameBackground .mainGame .questStyle {
          -moz-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
          position: relative;
          display: block;
          width: 100%;
          max-width: 100%;
          height: 200px;
          background-color: #D0DAFD;
          padding: 15px;
          margin-top: 10px; }
          div.mainContent .gameBackground .mainGame .questStyle h3 {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            font-size: 1.2rem;
            line-height: 1.5;
            color: #000000; }
        div.mainContent .gameBackground .mainGame [class^="answer"] {
          display: block;
          width: 100%;
          height: 70px;
          vertical-align: middle;
          background-color: #AABCFE;
          border-top: 2px solid #B9C9FE;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.0rem;
          line-height: 30px;
          color: #000000;
          text-decoration: none;
          padding: 0 10px; }
        div.mainContent .gameBackground .mainGame .scoreboard {
          clear: both;
          display: block;
          width: auto;
          height: 50px; }
          div.mainContent .gameBackground .mainGame .scoreboard .stopwatch, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox {
            float: left;
            display: block;
            width: 50%;
            height: 50px;
            background-color: #E8EDFF; }
            div.mainContent .gameBackground .mainGame .scoreboard .stopwatch p.countdownClock, div.mainContent .gameBackground .mainGame .scoreboard .stopwatch p.score, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox p.countdownClock, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox p.score {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.2rem;
              line-height: 50px;
              color: #456dfd;
              text-align: center; }
        div.mainContent .gameBackground .mainGame .nextBtnBox {
          display: block;
          width: 100%;
          height: 50px; }
          div.mainContent .gameBackground .mainGame .nextBtnBox .nextBtn {
            cursor: pointer;
            outline: none;
            border: none;
            width: 100%;
            height: 50px;
            background-color: #547bfd;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
            color: #FFFFFF; }
            div.mainContent .gameBackground .mainGame .nextBtnBox .nextBtn:hover {
              background-color: #006300; }

  .footer-style {
    height: 50px;
    background-color: #000000; }
    .footer-style p.footer-text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 50px;
      color: #3BE878;
      text-align: center; } }

/*# sourceMappingURL=stylesheet.css.map */
