/* 
    Created on : Feb 16, 2016, 8:22:58 AM
    Author     : strider64
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.row {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1; }

.row:after {
  clear: both; }

.row:before,
.row:after {
  content: " ";
  display: table; }

[class^="span"] {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="span"]:first-child {
  margin-left: 0; }

.span1 {
  width: 8.333333333333332%; }

.span2 {
  width: 16.666666666666664%; }

.span3 {
  width: 25%; }

.span4 {
  width: 33.33333333333333%; }

.span5 {
  width: 41.66666666666667%; }

.span6 {
  width: 50%; }

.span7 {
  width: 58.333333333333336%; }

.span8 {
  width: 66.66666666666666%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83.33333333333334%; }

.span11 {
  width: 91.66666666666666%; }

.span12 {
  width: 100%; }

[class^="m-span"] {
  padding: 10px 0;
  margin-left: 3.125%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="m-span"]:first-child {
  margin-left: 0; }

.m-span1 {
  width: 5.46875%; }

.m-span2 {
  width: 14.0625%; }

.m-span3 {
  width: 22.65625%; }

.m-span4 {
  width: 31.25%; }

.m-span5 {
  width: 39.84375%; }

.m-span6 {
  width: 48.4375%; }

.m-span7 {
  width: 57.03125%; }

.m-span8 {
  width: 65.625%; }

.m-span9 {
  width: 74.21875%; }

.m-span10 {
  width: 82.8125%; }

.m-span11 {
  width: 91.40625%; }

.m-span12 {
  width: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* GENERAL PAGE STYLING */
body {
  font-size: 100%;
  background-color: #A0D7E2; }

header.headingStyle {
  position: relative;
  height: 200px;
  background-color: #000000; }
  header.headingStyle h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 3.2rem;
    line-height: 200px;
    color: #FFFFFF;
    text-align: center; }

/* LOGO STYLING */
h2.logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 30px;
  width: 100%;
  max-width: 1024px;
  height: 200px;
  background-image: url(../images/img-logo-01.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0; }

h2.logo a {
  display: inline-block;
  z-index: 100;
  width: 100%;
  max-width: 1024px;
  height: 200px;
  padding: 0;
  margin: 0; }

h2.logo span {
  display: none; }

div.mainContent {
  background-color: #f2f5e4;
  padding: 20px; }
  div.mainContent .gameDescription {
    background-color: #FFFFFF;
    height: 800px;
    padding: 20px; }
    div.mainContent .gameDescription h1.demoHeading {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #000000; }
    div.mainContent .gameDescription p.demoParagraph {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 1.5;
      color: #000000; }
      div.mainContent .gameDescription p.demoParagraph a {
        font-size: 1.4rem;
        text-decoration: none;
        font-weight: bold;
        color: #3F4E70; }
        div.mainContent .gameDescription p.demoParagraph a:hover {
          color: #EF7261; }
  div.mainContent .gameBackground {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwZDdlMiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTM2YTkzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2Y0ZTcwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0d7e2), color-stop(50%, #536a93), color-stop(100%, #3f4e70));
    background-image: -moz-linear-gradient(#a0d7e2, #536a93, #3f4e70);
    background-image: -webkit-linear-gradient(#a0d7e2, #536a93, #3f4e70);
    background-image: linear-gradient(#a0d7e2, #536a93, #3f4e70);
    height: 800px;
    padding: 20px; }
    div.mainContent .gameBackground .mainGame {
      display: block;
      width: 100%;
      max-width: 500px;
      height: 600px;
      background-color: rgba(252, 158, 0, 0.6);
      padding: 20px;
      margin: 0 auto; }
      div.mainContent .gameBackground .mainGame div.quizHeading h1.quizTitle {
        background-color: #965e00;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.8rem;
        line-height: 1.5;
        color: #FFFFFF;
        padding: 5px 0 0;
        text-align: center; }
        div.mainContent .gameBackground .mainGame div.quizHeading h1.quizTitle span.todaysDate {
          display: block;
          background-color: #FFF9BD;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
          color: #000000;
          font-style: italic;
          padding: 5px; }
      div.mainContent .gameBackground .mainGame .questStyle {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 140px;
        background-color: #FBFCF7;
        padding: 15px; }
        div.mainContent .gameBackground .mainGame .questStyle h3 {
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          font-size: 1.2rem;
          color: #633e00; }
      div.mainContent .gameBackground .mainGame [class^="answer"] {
        display: block;
        width: 100%;
        height: 50px;
        background-color: #965e00;
        border-top: 2px solid #2e2e2e;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        line-height: 40px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px 10px; }
      div.mainContent .gameBackground .mainGame .scoreboard {
        clear: both;
        display: block;
        width: auto;
        height: 50px; }
        div.mainContent .gameBackground .mainGame .scoreboard .stopwatch, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox {
          float: left;
          display: block;
          width: 50%;
          height: 50px;
          border: 2px solid #2e2e2e;
          background-color: #FBFCF7; }
          div.mainContent .gameBackground .mainGame .scoreboard .stopwatch p.countdownClock, div.mainContent .gameBackground .mainGame .scoreboard .stopwatch p.score, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox p.countdownClock, div.mainContent .gameBackground .mainGame .scoreboard .scoreBox p.score {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            line-height: 50px;
            color: #965e00;
            text-align: center; }
      div.mainContent .gameBackground .mainGame .nextBtnBox {
        display: block;
        width: 100%;
        height: 50px; }
        div.mainContent .gameBackground .mainGame .nextBtnBox .nextBtn {
          cursor: pointer;
          outline: none;
          border: none;
          width: 100%;
          height: 50px;
          background-color: #965e00;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
          font-weight: bold;
          color: #FFFFFF; }
          div.mainContent .gameBackground .mainGame .nextBtnBox .nextBtn:hover {
            background-color: #006300; }

/* SMARTPHONE MEDIA QUERY STYLING */
@media only screen and (max-width: 480px) {
  /* 480px = 30em */
  .span6 {
    width: 100%; }

  header.headingStyle {
    height: 70px; }
    header.headingStyle h1 {
      font-size: 1.2rem;
      line-height: 70px; }

  /* LOGO STYLING */
  h2.logo {
    background-image: url(../images/img-logo.png);
    width: 100%;
    max-width: 55px;
    height: 70px; }

  h2.logo a {
    width: 100%;
    max-width: 55px;
    height: 70px; }

  div.mainContent {
    padding: 0; }
    div.mainContent .gameDescription {
      height: auto; }
    div.mainContent .gameBackground {
      height: auto;
      padding: 0; } }
/* TABLET MEDIA QUERY STYLING */
@media only screen and (min-width: 481px) and (max-width: 1020px) {
  /* 481px = 30.063em & 768px = 48em */
  .span6 {
    width: 100%; }

  header.headingStyle {
    height: 125px; }
    header.headingStyle h1 {
      font-size: 1.4rem;
      line-height: 125px; }

  /* LOGO STYLING */
  h2.logo {
    background-image: url(../images/img-logo-02.png);
    width: 100%;
    max-width: 99px;
    height: 125px; }

  h2.logo a {
    width: 100%;
    max-width: 99px;
    height: 125px; }

  div.mainContent {
    padding: 0; }
    div.mainContent .gameDescription {
      height: auto; }
    div.mainContent .gameBackground {
      height: auto;
      padding: 0; } }
/* TABLET MEDIA QUERY STYLING */
@media only screen and (min-width: 1021px) {
  /* 481px = 30.063em & 768px = 48em */ }

/*# sourceMappingURL=stylesheet.css.map */
